@"
# Java / Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Angular / Node
node_modules/
dist/
.angular/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Fichiers de test locaux
task.json
status.json
bad.json
"@ | Set-Content .gitignore -Encoding ascii